# Auto-detect text files and perform LF normalization
* text=auto

# Exclude unnecessary files from export-zip / composer archives
.docker export-ignore
.github export-ignore
tests export-ignore

.gitattributes export-ignore
.gitignore export-ignore
docker-compose.yml export-ignore
phpunit.xml export-ignore